/* .company88 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: rgba(233, 224, 224, 0.8);
  color: #040d12;
}
.companies88 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5vh;
  padding-top: 5vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.companyImg88 img {
  width: 120px;
  height: 100%;
  object-fit: cover;
}

.companyImg88 {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  text-align: center;
  color: #040d12;
}
.tag h1 {
  font-size: 4.5rem;
  font-family: "Merriweather", serif;
} */



.company88 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  background-color: rgba(233, 224, 224, 0.8);
  color: #040d12;
  margin-bottom: 30px;
}
/* .companies88 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 5vh;
  padding-top: 5vh;
  padding-right: 5vw;
  animation: primary 3s linear infinite;
 
} */
@keyframes slide{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}
.companies88{
  overflow: hidden;
  padding: 20px 0;
  white-space: nowrap;
  display: flex;
  
  
}
.companies-track88{
  display: flex;
  justify-content: space-around;
  padding-left: 200px;
  
  gap: 200px;
 
  
  animation: 20s slide infinite linear;
}



.companyImg88 img {
  width: 120px;
  /* height: 100%; */
  object-fit: cover;
}

.companyImg88 {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  text-align: center;
  perspective: 100px;
  /* color: #040d12; */
}
.tag h1 {
  font-size: 4.5rem;
  font-family: "Merriweather", serif;
}
